.nav {
  background-color: seagreen;
  width: 200px;
  height: 200px;
}

.main {
  background-color: blue;
  height: 200px;
  width: 200px;
}
.end {
  background-color: tomato;
  width: 200px;
  height: 200px;
}
.colons{
    display:flex;
    flex-direction: column;

}
.container{
  width: 1440px;
  height: 1062px;
  background-color: aquamarine;
}
