.colons {
  display: flex;
}
.colon {
  padding: 14px;
  display: flex;
  flex-flow: column;
}
.nav {
  width: 240px;
  height: 1062px;
}
.main {
  width: 840px;
  height: 1062px;
}
.notific {
  background-color: #f4f9ff;
  width: 366px;
  height: 1062px;
}
.container {
  width: 1440px;
  height: 1062px;
  background-color: #ffffff;
}
.nav-img {
  width: 234px;
  height: 84px;
  background: linear-gradient(180deg, #e6effb 0%, rgba(230, 239, 251, 0) 100%);
  position: absolute;
  left: 0;
  top: 0;
}
.navigation-list {
  list-style-type: none;
  padding: 0;
}
.navigation-title{
  font-weight: bold;
}

.navigations {
  margin: 20px 10px;
  padding: 25px 5px;
}
.navigation-list a {
  text-decoration: none;
}
.navigation-list li {
  list-style-type: none;
  padding: 15px;
}
.nav_link {
  color: black;
  font-size: 14px;
}
.navigation_item {
  margin: 40px 20px;
}
.main-menu {
  display: flex;
  list-style-type: none;
}
.main-menu a {
  text-decoration: none;
}
.main-menu li {
  margin: 0 15px;
  padding: 4px;
}
.more {
  padding: 20px;
}

.main-menu li:focus a {
  color: #2d2d2d;
}
.nav-main {
  color: #7c8db5;
}
.nav-books {
  color: #2d2d2d;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.card1 {
  width: 100%;
  height: 300px;
  top: 84px;
  filter: drop-shadow(0px 4px 64px rgba(0 0 0 0.05));
  border: 1px solid #e6effb;
  border-radius: 5px;
  
}
.card1-1 {
  display: flex;
  justify-content: space-between;
}
.FL{
  font-family: Averta;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  color: #2D2D2D;
  ;

}
.card1-2 {
  display: flex;
  justify-content: space-around;
}
.play{
width: 37.56px;
height: 40px;
border-radius: 10px;
background-color: #ffffff;
}
.card2 {
  width: 100%;
  height: 300px;
  filter: drop-shadow(0px 4px 64px rgba(0 0 0 0.05));
  border: 1px solid #e6effb;
  border-radius: 5px;
  padding: 0 4px;
  top: 84px;
   margin: 20px 0;
}
.card2-1 {
  display: flex;
  justify-content: space-between;
}
.card2-2 {
  display: flex;
  justify-content: space-around;
}
.B-T{
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #2D2D2D;
}
.border {
  height: 205px;
  width: 163px;
  left: 299px;
  top: 477px;
  border-radius: 0px;
}
.p1 {
  font-family: Averta;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #2d2d2d;
}
.p2 {
  font-family: Averta;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #7c8db5;
}

.card3 {
  width: 100%;
  height: 300px;
  left: 276px;
  filter: drop-shadow(0px 4px 64px rgba(0 0 0 0.05));
  border: 1px solid #e6effb;
  border-radius: 5px;
  padding: 0 4px;
}
.card3-1{
  display: flex;
  justify-content: space-between;
}
.seeall{
  font-style: normal;
  font-weight:bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.row{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.row1{
  display: flex;

}
.p11{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.p22{
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color:#7C8DB5;
  margin: 0 0 10 10px;
}
.pp{
  margin: 0 0 0 20px;
}
.row2{
  display: flex;
}
.row{
  margin: 0px;
  padding: 0px;
}
.SA {
  color: #7c8db5;
  font-family: Averta;
  font-size: 16px;
  font-style: normal;
}
.not1{
  display: flex;
  justify-content:space-between;
}
.not{
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
}
.not-p1{
  margin-left: 20px;
}
.not-p2{
  margin-left: 20px;
}
.novpic{
  display: flex;
}
.play{
  margin: 00 15px;
}
.p1{
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  color: #2D2D2D;

}
.p2{
  color: #7C8DB5;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;

}
.no-tp1{
  margin: 0 0 0 20PX;
}
.number{
  margin-left: 20px;
}
.img{
  margin-left: 20px;
}
.notrow{
  display: flex;
  justify-content:space-between;
}
.ta{
font-weight: bold;
font-style: normal;
color: #2D2D2D; 
font-size: 18px;
list-style: 22px;
}
.mins{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #7C8DB5;
}
.not2-1{
  display: flex;
  justify-content: space-between;
}
.not2-3{
  display: flex;
  justify-content: space-between;
}
.not2-2{
  display: flex;
  justify-content: space-between;
}
.player{
  margin: 50px;
}
.time{
  padding: 15px 0;
}
.cover-conteiner{
  position: relative;
}
.play-button{
  position: absolute;
  right: 10px;
  bottom: 10px ;
  display: block;
}
